<div class="container">

  <mat-tab-group>
    <mat-tab label="global setup">
      <div class="global-wrapper">
        <app-global> </app-global>

      </div>

    </mat-tab>
    <mat-tab label="users">
      <div class="user-wrapper">
        <!-- <app-user-list></app-user-list>
        <div *ngFor="let user of userService.getusers()">
          <app-user-detail [user]="user"></app-user-detail>
        </div> -->

        <app-players> </app-players>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>
